doctype html
html
    head
        title Parasite Breach
        //link(rel="stylesheet" href="style.css")
        style.
            body{
                color: white;
                background-color: black;
            }

            header{
                text-align: center;
            }

            main{
                text-align: center;
                font-size: 3em;
            }

            .link{
                color: white;
            }

            .link:visited{
                color:white;
            }

        link(rel="shortcut icon" href="#")
    body
        header
            include includes/nav
        main
            a(href="about" class="link") About Page
            br
            a(href="allUser" class="link") Get a list of all Users